@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Raleway', sans-serif;
  background: #224941 url(img/cristian-palmer-XexawgzYOBc-unsplash.jpg)
    no-repeat center center/cover;
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  margin: 0;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  height: 300px;
  width: 300px;
  position: relative;
  transform: scale(1);
}

.circle {
  background-color: #002433;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.gradient-circle {
  background: conic-gradient(
    #03526e 0%,
    #0681a6 40%,
    #fff 40%,
    #fff 60%,
    #05b4d6 60%,
    #52d0e7 100%
  );
  height: 320px;
  width: 320px;
  z-index: -2;
  border-radius: 50%;
  position: absolute;
  top: -10px;
  left: -10px;
  box-shadow: 0 4px 8px 10px rgba(0, 0, 0, 0.226);
}

h1 {
  font-size: 4rem;
  padding: 1rem 2rem;
  box-shadow: 0 4px 8px 10px rgba(0, 0, 0, 0.226);
  border-radius: 30px;
}

.pointer {
  background-color: #fff;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  display: block;
}

.pointer-container {
  position: absolute;
  top: -40px;
  left: 140px;
  width: 20px;
  height: 190px;
  animation: rotate 7.5s linear forwards infinite;
  transform-origin: bottom center;
}

.container.grow {
  animation: grow 3s linear forwards;
}
.container.shrink {
  animation: shrink 3s linear forwards;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes grow {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.3);
  }
}

@keyframes shrink {
  from {
    transform: scale(1.3);
  }

  to {
    transform: scale(1);
  }
}
